body {
    height: 100vh;
}

header{
    display: flex;
    justify-content: center;
    height: 50px;
    border: 2px solid lightgreen;
}

.main-header {
    text-align: center;
    background-color: lightblue;
    padding: 20px;
    height: 100%;
}

.main-menu {
    position: fixed;
    left: 0%;
    top: 50px;
    width: 250px;
    height: 100%;
    background-color: hotpink;
    opacity: 0.9;
    transform: translateX(-100%);
    transition: 0.6s ease-in-out;
    z-index: 2;
}

.main-menu-item {
    /* display: block; */
    width: 100%;
    border: 1px solid white;
    height: 50px;
    
    background-color: lightsteelblue;
}

.main-menu-item-a {
    text-decoration: none;
    margin-left: 20px;
    color: whitesmoke;
    font-size: 15px;
    line-height: 45px;
}
.main-menu-item-a svg {
    position: relative;
    top: 1px;
}

#main-menu-check {
    position: fixed;
    left: -1000px;
    top: 20px;
}

#main-menu-check:checked ~ .main-menu {
    /* #main-menu-check:checked 체크되었을 때 main-menu클래스 까지 */
    background-color: lightgreen;
    opacity: 0.9;
    transform: translateX(0);
}

label[for='main-menu-check'] {  /* 라벨 선택 시 체크박스와 동일하게 */
    position: fixed;
    left: 20px;
    top: 13px;
    z-index: 2;
}

.div-body {
    display: flex;
    /* flex-direction: column; */
    /* align-items: stretch; */
    height: calc(95% - 50px);
    background-color: lightyellow;
}

.text-p {
    border: 1px solid lightsteelblue;
    border-radius: 10px;
    height: 100%;
}

.foo {
    position: fixed;
    display: flex;
    width: 100%;
    height: 5%;
    justify-content: center;
    align-items: center;
    bottom: 0;
    border: 2px solid lightcoral;
    z-index: 1;
}

